body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.pageDashboard {
		img.employment {
			width: 30rem;
			box-shadow: 10px 10px 33px #777;
			border-radius: 1rem;
		}
	}

	.pageJobs {
		.jobSources {
			.jobSource {
				display: flex;
				gap: .7rem;
				margin-bottom: 1.5rem;

				img {
					width: 6rem;
				}

				.info {
					.title {
						color: black;
						text-shadow: 1px 1px 10px #ccc;
						font-size: 2rem;
					}

					.url {
						a {
							color: rgb(217, 217, 103);
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}
}